<div class="col-sm-4">
  <div class="appCard panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a href="#">{{app.name}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#if app.bestBuild}}
        <div class="row">
          <div class="col-xs-4">
            <p class='appCard-infoLabel'>Branch</p>
            <p>{{app.bestBuild.branch}}</p>
          </div>
          <div class="col-xs-4">
            <p class='appCard-infoLabel'>Sha</p>
            <p>{{app.bestBuild.sha}}</p>
          </div>
          <div class="col-xs-4">
            <p class='appCard-infoLabel'>Job</p>
            <p>{{app.bestBuild.job}}</p>
          </div>
        </div>
      {{else}}
        <p class='text-muted'>No active build.</p>
        <p class='text-muted'><small>To start pushing builds,
          <pre>POST /front-end-builds?app_name={{app.name}}&api_key=[api_key_below]</pre>
          </small></p>
      {{/if}}

      <hr class='short-divider'>

      <p class='u-no-margin-bottom'>
        API key:
        <span class='appCard-api'>
          ********
          <small class='appCard-copyApiButton'>copy</small>
        </span>
      </p>
    </div>
  </div>
</div>
