<div class="page-header">
  <h1>
    {{link-to 'Apps/' 'apps' class='link-subtle'}}{{attrs.app.name}}
  </h1>
</div>

<div class="row">
  <div class="col-sm-8">
    {{#if attrs.app.bestBuild}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class='panel-title'>Current live build</h3>
        </div>
        <div class="panel-body">
          <p>Branch: <strong>{{attrs.app.bestBuild.branch}}</strong></p>
          <p>Sha: <strong>{{attrs.app.bestBuild.sha}}</strong></p>
          <p>Job: <strong>{{attrs.app.bestBuild.job}}</strong></p>
        </div>
      </div>
    {{else}}
      <div class="text-muted">
        <p class='lead'>No active build.</p>

        <p>
          To start pushing builds, install <a href="https://github.com/tedconf/ember-cli-front-end-builds" target="_blank">Ember CLI FrontEndBuilds</a> and deploy with <code>ember deploy</code>.
        </p>
        <p>
          <strong>API key:</strong> <br>
          <pre>{{{attrs.app.apiKey}}}</pre>
        </p>
      </div>
    {{/if}}

  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Options</div>
      <div class="list-group">
        <a href='#' class="list-group-item">Rename</a>
        <a href='#' class="list-group-item">Delete</a>
      </div>
    </div>
  </div>
</div>

{{#if attrs.app.builds}}
  <h3 class='appDetail-buildListTitle'>All builds</h3>
  {{build-list builds=attrs.app.builds}}
{{/if}}
