{{#page-title name=model.name}}
  <button {{action "startRenamingApp"}} disabled={{isRenamingApp}} class="btn {{if isRenamingApp "btn-default" "btn-primary"}} rename-app-button">
      Rename
  </button>

  <button {{action "startDeletingApp"}} disabled={{isDeletingApp}}
    class="btn {{if isDeletingApp "btn-default" "btn-danger"}} delete-app-button">
      Delete
  </button>
{{/page-title}}

<div class="flex flex-wrap -mx-3 -my-2 mb-4 items-stretch">
  <div class="w-full px-3 py-2 sm:w-1/2 lg:w-1/3 self-stretch">
    <div class="Panel h-full">
      <div class="Panel-head Panel-head__active">
        Active build
      </div>
      <div class="Panel-content">
        {{build-info build=model.liveBuild}}
      </div>
    </div>
  </div>

  <div class="w-full px-3 py-2 sm:w-1/2 lg:w-1/3 self-stretch">
    <div class="Panel Panel__manual-activation h-full">
      <div class="Panel-head {{if model.activateNewDeploys "Panel-head__active" "Panel-head__inactive"}}">
        Automatically activate new deploys
      </div>
      <div class="Panel-content">
        <form>
          <div class="form-group">
            {{toggle-switch
              label="Automatically activate"
              value=model.activateNewDeploys
              action=(action "toggleNewDeploys")}}

            <p class="text-sm text-grey pt-5 leading-loose">
              When this option is on Front End Builds will
              automatically start serving new master branch
              deploys. If you want to smoke test your deploys
              before making them live then turn this option off.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="w-full px-3 py-2 sm:w-1/2 lg:w-1/3 self-stretch">
    <div class="Panel h-full">
      <div class="Panel-head">
        Help &amp; Guides
      </div>
      <div class="Panel-content">
        <ul class="list-reset flex flex-col">
          <li class="relative -mb-px block border-b p-4 border-grey-lighter">
            Rails router setup
            <span class="float-right text-grey-light">coming soon-ish</span>
          </li>
          <li class="relative -mb-px block border-b p-4 border-grey-lighter">
            Amazon S3 setup
            <span class="float-right text-grey-light">coming soon-ish</span>
          </li>
          <li class="relative -mb-px block p-4">
            Ember-cli setup
            <span class="float-right text-grey-light">coming soon-ish</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="Panel mt-10">
  <div class="Panel-head">
    Builds
  </div>

  <div class="Panel-content">
    {{build-table app=model}}
  </div>
</div>

{{#if isRenamingApp}}
  {{rename-app-modal app=model dismiss=(action 'stopRenamingApp')}}
{{/if}}

{{#if isDeletingApp}}
  {{delete-app-modal app=model dismiss=(action 'stopDeletingApp')}}
{{/if}}
