<div class="page-header">
  <h1>
    {{link-to 'Apps/' 'apps' class='link-subtle'}}{{model.name}}
  </h1>
</div>

<div class="row">
  <div class="col-sm-8">
    {{#if model.liveBuild}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class='panel-title'>
            Current live build
            <a class='App-detail__link' {{bind-attr href=model.location}}>
              {{fa-icon 'external-link'}}
            </a>
          </h3>
        </div>
        <div class="panel-body">
          <p>Branch: <strong>{{model.liveBuild.branch}}</strong></p>
          <p>Sha: <strong>{{model.liveBuild.sha}}</strong></p>
          <p>Job: <strong>{{model.liveBuild.job}}</strong></p>
        </div>
      </div>
    {{else}}
      <div class="text-muted">
        <p class='lead'>No active build.</p>

        <p>
          To start pushing builds, install <a href="https://github.com/tedconf/ember-cli-front-end-builds" target="_blank">Ember CLI FrontEndBuilds</a> and deploy with <code>ember deploy</code>.
        </p>
        <p>
          <strong>API key:</strong> <br>
          <pre>{{{model.apiKey}}}</pre>
        </p>
      </div>
    {{/if}}

  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Options</div>
      <div class="list-group">
        <a {{action 'willRenameApp'}} href='#' class="list-group-item">Rename<a>
        <a {{action 'willDeleteApp'}} href='#' class="list-group-item">Delete</a>
      </div>
    </div>
  </div>
</div>

{{#if model.orderedBuilds}}
  <h3 class='appDetail-buildListTitle'>All builds</h3>
  {{#if model.requireManualActivation}}
    <p class='text-muted'>This app <strong>requires</strong> new builds to be activated manually.</p>
  {{/if}}
  {{build-list builds=model.orderedBuilds}}
{{/if}}
