{{page-title name=model.name}}

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class='panel-title'>
          Active build

          {{#if app.liveBuild}}
            <a {{bind-attr href=model.location}} class="pull-right">
              {{fa-icon 'external-link'}}
            </a>
          {{/if}}
        </h3>
      </div>
      <div class="panel-body">
        {{build-info build=model.liveBuild}}
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Options</div>
      <div class="list-group">
        <a {{action 'willRenameApp'}} href='#' class="list-group-item">Rename<a>
        <a {{action 'willDeleteApp'}} href='#' class="list-group-item">Delete</a>
      </div>
    </div>
  </div>
</div>

{{#if model.orderedBuilds}}
  <h3 class='appDetail-buildListTitle'>All builds</h3>
  {{#if model.requireManualActivation}}
    <p class='text-muted'>This app <strong>requires</strong> new builds to be activated manually.</p>
  {{/if}}
  {{build-list builds=model.orderedBuilds}}
{{/if}}
