<table class='table table-hover appDetail-buildList'>
  <thead>
    <tr>
      <th class='appDetail-buildListItemCell__id'>ID</th>
      <th class='appDetail-buildListItemCell__live'></th>
      <th class='appDetail-buildListItemCell__link'></th>
      <th class='appDetail-buildListItemCell__built'>Built</th>
      <th class='appDetail-buildListItemCell'>Branch</th>
      <th class='appDetail-buildListItemCell'>Commit</th>
      <th class='appDetail-buildListItemCell'></th>
    </tr>
  </thead>
  <tbody>
    {{#each build in builds}}
      <tr {{bind-attr class='build.isLive:success :appDetail-buildListItem'}}>
        <td class='appDetail-buildListItemCell__id'>#{{build.id}}</td>
        <td class='appDetail-buildListItemCell__live'>
          {{#if build.isLive}}
            <span class='pull-right'>
              <span class='label label-success'>Live</span>
            </span>
          {{/if}}
        </td>
        <td class='appDetail-buildListItemCell__link'>
          <a {{bind-attr href=build.location}}>
            {{fa-icon 'external-link'}}
          </a>
        </td>
        <td class='appDetail-buildListItemCell'>
          <p>{{ago build.createdAt}}</p>
        </td>
        <td class='appDetail-buildListItemCell'>{{build.branch}}</td>
        <td class='appDetail-buildListItemCell'>#{{build.shortSha}}</td>
        <td class='appDetail-buildListItemCell text-right'>
          {{#unless build.isLive}}
            <button {{action 'activate' build}} class="btn btn-warning btn-xs">Make live</button>
          {{/unless}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
