<div class="App-card panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{link-to app.name 'app' app}}
    </h3>
  </div>
  <div class="panel-body">

    {{#if app.liveBuild}}
      <div class="row">
        <div class="col-xs-4">
          <p class='App-card__info-label'>Branch</p>
          <p>{{app.liveBuild.branch}}</p>
        </div>
        <div class="col-xs-4">
          <p class='App-card__info-label'>Sha</p>
          <p>{{app.liveBuild.shortSha}}</p>
        </div>
        <div class="col-xs-4">
          <p class='App-card__info-label'>Job</p>
          <p>{{app.liveBuild.job}}</p>
        </div>
      </div>

      <hr class='short-divider'>

      <p class='u-no-margin-bottom'>
        API key:
        <span class='App-card__api'>
          ********
          <small class='App-card__copy-api-button'>copy</small>
        </span>
      </p>

    {{else}}

      <div class="text-muted">
        <p class='text-center'>No active build.</p>
        <hr class='short-divider'>
        <p class='App-card__instructions'>
          To start pushing builds, install <a href="https://github.com/tedconf/ember-cli-front-end-builds" target="_blank">Ember CLI FrontEndBuilds</a> and deploy with <code>ember deploy</code>.
        </p>
        <p class="App-card__instructions">
          <strong>API key:</strong> <br>
          <span class='App-card__api'>
            {{zero-clipboard class='zero-clipboard' text=app.apiKey label=app.apiKey}}
          </span>
        </p>

      </div>

    {{/if}}

  </div>
</div>
