<div class="Panel h-full">
  <div class="Panel-head {{if app.liveBuild "Panel-head__active" "Panel-head__inactive"}}">
    {{link-to app.name "app" app
      classNames=""}}
  </div>
  <div class="Panel-content">
    {{build-info build=app.liveBuild}}
  </div>
  <div class="Panel-footer">
    {{#if app.liveBuild}}
      {{link-to "See builds" "app" app classNames=""}}
      <a href="{{app.location}}" class="float-right" target="_blank">Launch app {{fa-icon "external-link-alt"}}
      </a>
    {{else}}
      {{link-to "Install instructions" "app" app
        classNames=""}}
    {{/if}}
  </div>
</div>
