<div {{bind-attr class=":App-card :panel app.liveBuild:panel-success:panel-default"}}>
  <div class="panel-heading">
    <h3 class="panel-title">
      {{link-to app.full_name 'app' app
        classNames="App-card__heading-link"}}
    </h3>
  </div>
  <div class="App-card__body panel-body">

    {{build-info build=app.liveBuild}}

    <hr class='short-divider'>

    {{#if app.liveBuild}}

      {{link-to "See builds" 'app' app
        classNames="Card-button btn btn-flat btn-xs btn-info"}}

      <a {{bind-attr href=app.location}}
        class="Card-button pull-right btn-material-grey-600 btn btn-flat btn-xs btn-info">
          Launch app {{fa-icon "external-link"}}
      </a>

    {{else}}

      {{link-to "Install instructions" 'app' app
        classNames="Card-button btn btn-flat btn-xs btn-info"}}

    {{/if}}

  </div>
</div>
