<form {{action "createApp" on="submit"}}>
  <legend>New app</legend>

  <div class="Form__row {{if showNameError "Form__row-error"}}">
    <label class="Form__label {{if showNameError "Form__label-error"}}" for="app-name">
      App name
    </label>
    {{input
      value=app.name
      classNames="Form__name"
      id="app-name"
      placeholder="Enter an app name"
    }}
  </div>

  <div class="Form__buttons">
    {{#if isCreating}}
      <button type="submit" class="btn btn-default">Creating...</button>
    {{else}}
      <button type="submit" {{action "createApp"}} class="btn btn-success">Create</button>
    {{/if}}

    <button {{action "discardNewApp"}}
      class="Form__cancel btn btn-primary">
        Cancel
    </button>
  </div>
</form>
