{{#page-title name="Apps"}}
  <button {{action 'createApp'}} class="btn btn-primary btn-sm new-app-button">
    {{fa-icon 'plus'}}
    New app
  </button>
{{/page-title}}

{{#liquid-if newApp class="animate-sliding-drawer"}}
  <div class="well">
    {{new-app-form app=newApp}}
  </div>

  <hr />
{{/liquid-if}}

<div class="row">
  {{#each app in orderedApps}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-eq-height">
      {{app-card app=app}}
    </div>
  {{/each}}
</div>

{{liquid-modal}}
