{{#page-title name="Apps"}}
  <button {{action 'createApp'}} class="btn btn-primary btn-sm">
    {{fa-icon 'plus'}}
    New app
  </button>
{{/page-title}}

<div class="row">
  {{#each app in savedApps}}
    <div class="col-sm-4">
      {{app-card app=app}}
    </div>
  {{/each}}

  {{#if newApp}}
    <div class="col-sm-4">
      {{new-app-card app=newApp}}
    </div>
  {{/if}}
</div>

{{liquid-modal}}
