<td>
  <div class="Table__build">
    {{build.shortSha}}
  </div>
</td>
<td>
  <div class="Table__build">
    {{build.branch}}
  </div>
</td>
<td>
  <div class="Table__build">
    {{build.createdAtFormatted}}
  </div>
</td>
<td>
  <a href="{{build.location}}"
    class="Build-list__launch-build">
    Build {{fa-icon 'external-link-alt'}}
  </a>
  <br/>
  <a href="{{build.locationBranch}}"
    class="Build-list__launch-build">
    Branch {{fa-icon 'external-link-alt'}}
  </a>
</td>
<td>
  <div class="float-right">
    {{#if isLoading}}
      <a class="btn btn-default">Selecting...</a>
    {{else}}
      {{#if build.isLive}}
        <a class="btn btn-default">
          Live
        </a>
      {{else}}
        <a {{action "activate" build}} class="btn btn-primary">Make live</a>
      {{/if}}
    {{/if}}
  </div>
</td>
