<div class="modal-header">
  <button {{action 'dismiss'}} type="button" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Rename this app?</h4>
</div>

<div class="modal-body">
  <p>
    If you rename your <strong>{{app.name}}</strong> app, you'll
    need to update the <code>routes.rb</code> file in your Rails
    app. Currently it probably looks something like this:
  </p>

<pre>
Rails.application.routes.draw do
  front_end '{{app.name}}'
end
</pre>

  <p>
    You'll need to change the <code>'{{app.name}}'</code>
    portion to match the updated app name.
  </p>

  <hr>

  <form {{action 'renameApp' on='submit'}}>
    <div class="form-group">
      <label class="control-label">
        App name
      </label>

      {{input value=proxy.name
        placeholder='App name'
        classNames='form-control'}}
    </div>

    <div class="form-group">
      <input type="submit" value="Rename"
        {{bind-attr class='nameHasChanged::disabled :btn :btn-primary'}} />

      <button {{action 'dismiss'}} class="btn btn-default">
        Cancel
      </button>
    </div>
  </form>

</div>
