<table class="Table">
  <thead>
    <tr class="Table__head">
      <th>Name</th>
      <th>Last used</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each displayKeys as |pubkey|}}
      <tr class="Table__row">
        <td>
          <div>
            {{pubkey.name}}
          </div>
          <div class="Table__build">
            {{pubkey.fingerprint}}
          </div>
        </td>
        <td>
          {{#if pubkey.lastUsedAt}}
            <div class="Table__build">{{pubkey.lastUsedAtFormatted}}</div>
          {{else}}
            This key has never been used
          {{/if}}
        </td>
        <td>
          <div class="float-right">
            <a {{action "remove" pubkey}}
              class="btn btn-danger Pubkey-table__delete">Delete</a>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
